header { font-size:30px;font-weight: bold;color:white; font-family: sans-serif; text-align: center; }
h1 {font-size:30px;color:rgb(49,184,102);font-weight: bold;}
h2 {font-size:20px;color:white;font-weight: normal;margin: 0px;}
h3 {font-size:20px;color:white;font-weight: normal;margin: 0px;}
h4 {font-size: 20px;color:white;font-weight: normal;margin: 0px;}
h5 {font-size: 20px;color:rgb(49,184,102);font-weight: bold; margin: 0px;}
body {background-color:rgb(34,57,106);}
p { color:white;font-size: medium;}
b {color:red;text-decoration: underline; font-weight: lighter ;}
footer {text-align: center; background-color:rgb(17,36,77); padding:12.5px  ;}
address { color:white;;font-style: normal;font-weight: bold;text-align: center; }
